.popup__container {
    display: flex;
    flex-direction: column;
    margin: auto; /*Я так понял, судя по макету popup должен быть строго по центру  страницы, как по горизонтали, так и по вертикали ?*/
    width: 430px;
    /*height: 330px; Если убрать принудительную высоту то идет разница с макетом в 7px и 5pх на разных разрешениях (2px это подчеркивание input, 
    остальное не могу найти, обнулял всё что только можно. С калькулятором сидел, не могу понять откуда.*/
    color: black;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    position: relative;  
    
  }

  @media screen and (max-width: 700px){
    .popup__container{
    width: 282px;
  }}