.popup__container {
    display: flex;
    flex-direction: column;
    margin: 195px auto 0;
    width: 430px;
    height: 330px;
    color: black;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    position: relative;  
    
  }

  @media screen and (max-width: 700px){
    .popup__container{
    margin-top: 123px;
    width: 282px;
    height: 322px;
  }}